/* CSS Document */
.box {font-size:14px; border-color:#CCCCCC; border:1px; border-style:dotted; padding:0px; border-radius:3px; }
.box1 {font-size:16px; border-color:#CCCCCC; border:1px; border-style:dashed; padding:3px;  border-radius:1px; }
body {
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 16px "mS Sans Serif";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 0.5cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 2px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }
    
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }